@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Single Day font using local files */
@font-face {
  font-family: 'Single Day';
  src: url('/font/Single_Day/SingleDay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Remove the Google Fonts import */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Single Day', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}
